In [51]:
import pandas as pd
import numpy as np

In [179]:
data=pd.read_csv("test.csv")
data.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
0,TitleAD16O,Bonilla Ltd Inc,Investment Bank/Brokerage,200988$,NaN,2020-04-15,Product_1,167.332.2751x989,100 - 500 Million,Category 4,India,Bhubaneshwar,sonia,Chairman/CEO/President,maureenthomas@bonilla.com,"Designer, fashion/clothing",Marketing Event,Level 1,more than a month,"Massiah,Gerard F",No,-1.0
1,TitleOW6CR,"Williams, Rogers and Roach PLC",Electronics,409961$,2541758.2$,2021-01-23,Product_1,001-486-903-0711x7831,100 - 500 Million,Category 3,USA,"Coeur d'Alene, ID",Daniel Bell,CEO/Co-Founder/Chairman,danielbell@williams.com,Horticultural consultant,Marketing Event,Level 2,Up-to-date,"Smith,Keenan H",Yes,1.0
2,TitleVVJQ5,"Wood, Vaughn and Morales Ltd",Banks,434433$,3041031.0$,2020-07-19,Product_1,(393)104-2610x9723,100 - 500 Million,Category 1,USA,"Portland-South Portland, ME",Andrew Davis,Chairman/Chief Innovation Officer,andrewdavis@wood.com,Information officer,Marketing Event,Level 2,Did not hear back after Level 1,"Gilley,Janine",Deliverable,5.0
3,TitleUS8NA,Durham-Crawford Inc,Music,218952$,1521716.4$,2020-02-27,Product_2,(817)040-4599,100 - 500 Million,Category 1,India,Bareilly,shital,CEO/Chairman/President,charlesrivera@durhamcrawford.com,Commercial/residential surveyor,Contact Email,Level 3,more than a month,"Morsy,Omar A",No,5.0
4,Title5VGWW,"Simpson, Duncan and Long LLC",Real Estate,392835$,2455218.75$,2020-10-25,Product_1,718-032-5726x76098,500 Million - 1 Billion,Category 3,USA,"Trenton, NJ",Shelly Stephenson,CEO/Co-Founder/Chairman,shellystephenson@simpson.com,Wellsite geologist,Others,Level 3,More than 2 weeks,"Morsy,Omar A",Deliverable,2.0

In [180]:
print("Shape of our data set ",data.shape)

Shape of our data set  (2093, 22)

In [181]:
#check data type of all the coulmns
data.dtypes

Deal_title                object
Lead_name                 object
Industry                  object
Deal_value                object
Weighted_amount           object
Date_of_creation          object
Pitch                     object
Contact_no                object
Lead_revenue              object
Fund_category             object
Geography                 object
Location                  object
POC_name                  object
Designation               object
Lead_POC_email            object
Hiring_candidate_role     object
Lead_source               object
Level_of_meeting          object
Last_lead_update          object
Internal_POC              object
Resource                  object
Internal_rating          float64
dtype: object

In [182]:
# all the columns expect few are in object form. Need to perform type casting for required columns
#check for the missing values 
data.isnull().sum()

Deal_title                 0
Lead_name                  0
Industry                   1
Deal_value                 5
Weighted_amount           60
Date_of_creation           0
Pitch                      0
Contact_no                 0
Lead_revenue               0
Fund_category              0
Geography                 79
Location                   3
POC_name                   2
Designation                0
Lead_POC_email             0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         168
Internal_POC               0
Resource                  14
Internal_rating            0
dtype: int64

There are lots of missing values in the data set we need to perform feature engineering.
Features with missing values :- 
Industry                   1
Deal_value                 5
Weighted_amount           60
Geography                 79
Location                   3
POC_name                   2
Last_lead_update         168
Resource                  14

In [ ]:
# Lets start exploratory data analysis

Data Description
Deal_title = Represents a unique title for each deal
Lead_name  = Represents the name of a lead
Industry   = Represents the industry that a lead belongs to
Deal_value = Represents the value of a deal between a lead and your company (in Dollars)
Weighted_amount = Represents a value that is estimated revenue times a probability
Date_of_creation = Represents the date when a deal's pipeline was created
Pitch = Represents the different types of products that your company offers to a lead
Contact_no = Represents the contact details of a lead (masked)
Lead_revenue = Represents the lead company's revenue (in Dollars)
Fund_category = Represents the type of funding that a lead possesses
Geography = Represents the geographical location of a lead (country)
Location = Represents the geographical location of a lead (state or city)
POC_name =  Represents the lead's point of contact's name
Designation = Represents the lead POC's designation
Lead_POC_email = Represents the lead POC's email address
Hiring_candidate_role = Represents the job role that a lead wants to hire
Lead_source = Represents the source from which the lead is generated
Level_of_meeting = Represents the level of a meeting with the lead.
                        Level 1: Introductory call
                        Level 2: Demo call
                        Level 3: Pre-sales call
Last_lead_update = Represents the communication update between a lead and your company
Internal_POC = Represents the name of the employee who has generated the lead
Resource = Represents whether your company has enough resources to satisfy a lead's requirements
Internal_rating = Represents a rating (1-5) given to a lead
Success_probability = Represents the probability that a lead will buy a product or onboard

# set deal title as index

In [183]:
# Deal title we will use as index
#now lets check the Lead Name 
data.Lead_name.value_counts()

Harris-Lucas and Sons          1
Wright-Thomas PLC              1
Wright Group LLC               1
Perez, Butler and Lewis LLC    1
Hunt Inc Group                 1
                              ..
Simon LLC LLC                  1
Morgan-Lopez and Sons          1
Parker PLC Ltd                 1
Wells PLC LLC                  1
Brewer-Bryant Inc              1
Name: Lead_name, Length: 2093, dtype: int64

In [184]:
data.Lead_name.unique().shape
#lead name consist of all unique values

(2093,)

In [185]:
data.Industry.value_counts()
#Industry is a categorical Feature which can be consiered as an important feature

Banks                          462
Insurance                      160
Financial Services              98
Real Estate                     68
Investment Bank/Brokerage       62
                              ...
Multimedia Software              1
Beverages (Non-Alcoholic)        1
Conglomerates                    1
Vitamins/Nutritionals/Other      1
Supply Chain                     1
Name: Industry, Length: 138, dtype: int64

In [186]:
print("Unique values in industry ",data.Industry.unique().shape)
print("Missing value in industries", data.Industry.isnull().sum())
print("Data type of unique value :", data.Industry.dtype)

Unique values in industry  (139,)
Missing value in industries 1
Data type of unique value : object

In [187]:
#Task - Replace the missing value with mode of Industry (Bank).
data["Industry"] = data["Industry"].fillna((data["Industry"].mode()[0]))

In [188]:
# Deal Value
print("Unique values in Deal_value ",data.Deal_value.unique().shape)
print("Missing value in Deal_value", data.Deal_value.isnull().sum())
print("Data type of Deal_value :", data.Deal_value.dtype)

Unique values in Deal_value  (2084,)
Missing value in Deal_value 5
Data type of Deal_value : object

In [189]:
data["Deal_value"].head()

0    200988$
1    409961$
2    434433$
3    218952$
4    392835$
Name: Deal_value, dtype: object

In [190]:
#Task 1- its clear that we have to remove the $ sign from the value and convert it into a numerical Valiable. Fill out missing value with mean of the column
#we can also create extra feature from this deal value like range 0 to 50, 51 to 100, 100 to 150, 150 to 200
#deal value is an important feature to consider
data["Deal_value"] = data["Deal_value"].str.replace("$","")
#converting Deal_Value to numeric
data["Deal_value"] = pd.to_numeric(data["Deal_value"])
data["Deal_value"].head()

<ipython-input-190-753f5ed282b4>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data["Deal_value"] = data["Deal_value"].str.replace("$","")

0    200988.0
1    409961.0
2    434433.0
3    218952.0
4    392835.0
Name: Deal_value, dtype: float64

In [191]:
#imputing missing value in Deal_value
data["Deal_value"] = data["Deal_value"].fillna(data["Deal_value"].mean())

In [192]:
# next feature is Weighted_amount
print("Unique values in Weighted_amount ",data.Weighted_amount.unique().shape)
print("Missing value in Weighted_amount ", data.Weighted_amount.isnull().sum())
print("Data type of Weighted_amount : ", data.Weighted_amount.dtype)
data.Weighted_amount.head()

Unique values in Weighted_amount  (2034,)
Missing value in Weighted_amount  60
Data type of Weighted_amount :  object

0            NaN
1     2541758.2$
2     3041031.0$
3     1521716.4$
4    2455218.75$
Name: Weighted_amount, dtype: object

In [193]:
##Task 2- The Weighted_amount column consist of over 500 missing values , 
#we can either use Iterative Imputation to fill out missing values using deal value as an independent variable and 
#Weighted_amount as dependent variable (using a simple linear regression model)  . 
#or if the feature is less important then we will drop this . and we also have to remove $ sign from end.

# removing the $ sign##

data["Weighted_amount"]= data["Weighted_amount"].str.replace("$","")
# now conver the Weighted_amount to numeric and then impute missing values using mean()
#converting Weighted_amount to numeric
data["Weighted_amount"] = pd.to_numeric(data["Weighted_amount"])
data["Weighted_amount"] = data["Weighted_amount"].fillna(data["Weighted_amount"].mean())

<ipython-input-193-0dfdc1962e59>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data["Weighted_amount"]= data["Weighted_amount"].str.replace("$","")

In [194]:
#Date of Creation Represents the date when a deal's pipeline was created.
# next feature is Date_of_creation
print("Unique values in Date_of_creation ", data.Date_of_creation.unique().shape)
print("Missing value in Date_of_creation ", data.Date_of_creation.isnull().sum())
print("Data type of Date_of_creation : ", data.Date_of_creation.dtype)
data.Date_of_creation.head()

Unique values in Date_of_creation  (720,)
Missing value in Date_of_creation  0
Data type of Date_of_creation :  object

0    2020-04-15
1    2021-01-23
2    2020-07-19
3    2020-02-27
4    2020-10-25
Name: Date_of_creation, dtype: object

In [195]:
#Task 3- Change the data type of Date_of_creation. There are no missing values.
#converting the Date_of_creation to date time
data["Date_of_creation"] = pd.to_datetime(data["Date_of_creation"])
data.Date_of_creation.dtype

dtype('<M8[ns]')

In [196]:
#Pitch = Represents the different types of products that your company offers to a lead
print("Unique values in Pitch ", data.Pitch.unique().shape)
print("Missing value in Pitch ", data.Pitch.isnull().sum())
print("Data type of Pitch : ", data.Pitch.dtype)
data.Pitch.head()

Unique values in Pitch  (2,)
Missing value in Pitch  0
Data type of Pitch :  object

0    Product_1
1    Product_1
2    Product_1
3    Product_2
4    Product_1
Name: Pitch, dtype: object

Pitch is a categorical feature with only two products.(Product_2 , Product_1)
Task 4 -  Encode the categorical values using label encoding at the end.

In [197]:
#Contact_no = Represents the contact details of a lead (masked)
print("Unique values in Contact_no ", data.Contact_no.unique().shape)
print("Missing value in Contact_no ", data.Contact_no.isnull().sum())
print("Data type of Contact_no : ", data.Contact_no.dtype)
data.Contact_no.head()

Unique values in Contact_no  (2093,)
Missing value in Contact_no  0
Data type of Contact_no :  object

0         167.332.2751x989
1    001-486-903-0711x7831
2       (393)104-2610x9723
3            (817)040-4599
4       718-032-5726x76098
Name: Contact_no, dtype: object

In [198]:
# Contact number is not very useful for our analysis so we will drop it at the end 
#next variable 
#Lead_revenue = Represents the lead company's revenue (in Dollars)
data.Lead_revenue.unique()
print("Unique values in Lead_revenue ", data.Lead_revenue.unique().shape)
print("Missing value in Lead_revenue ", data.Lead_revenue.isnull().sum())
print("Data type of Lead_revenue : ", data.Lead_revenue.dtype)
data.Lead_revenue.head()

Unique values in Lead_revenue  (3,)
Missing value in Lead_revenue  0
Data type of Lead_revenue :  object

0          100 - 500 Million
1          100 - 500 Million
2          100 - 500 Million
3          100 - 500 Million
4    500 Million - 1 Billion
Name: Lead_revenue, dtype: object

Task 5 - Encode Lead_revenue at the end.

In [199]:
#Fund_category = Represents the type of funding that a lead possesses
data.Fund_category.unique()
print("Unique values in Fund_category ", data.Fund_category.unique().shape)
print("Missing value in Fund_category ", data.Fund_category.isnull().sum())
print("Data type of Fund_category : ", data.Fund_category.dtype)
data.Fund_category.head()

Unique values in Fund_category  (4,)
Missing value in Fund_category  0
Data type of Fund_category :  object

0    Category 4
1    Category 3
2    Category 1
3    Category 1
4    Category 3
Name: Fund_category, dtype: object

In [201]:
#Task 5- Encode Fund_category as it has five categories.

In [202]:
#to get all columns
pd.set_option("display.max_columns",25)

In [203]:
#Geography = Represents the geographical location of a lead (country)
print(data.Geography.unique())
print("Unique values in Geography ", data.Geography.unique().shape)
print("Missing value in Geography ", data.Geography.isnull().sum())
print("Data type of Geography : ", data.Geography.dtype)
print("Value count Geography : ", data.Geography.value_counts())
data.Geography.head()

['India' 'USA' nan]
Unique values in Geography  (3,)
Missing value in Geography  79
Data type of Geography :  object
Value count Geography :  India    1012
USA      1002
Name: Geography, dtype: int64

0    India
1      USA
2      USA
3    India
4      USA
Name: Geography, dtype: object

In [204]:
#We have two category India and USA. Most commoun value is India 1012. 
#Task 6- We will replace missing values with India or check it from location
#we will replace the geopgraphy value by mode 
data["Geography"] = data["Geography"].fillna((data["Geography"].mode()[0]))

In [205]:
#Location = Represents the geographical location of a lead (state or city)
#print(data.Location.unique())
print("Unique values in Location ", data.Location.unique().shape)
print("Missing value in Location ", data.Location.isnull().sum())
print("Data type of Location : ", data.Location.dtype)
print("Value count Location : ", data.Location.value_counts())
#data.Location.head()

Unique values in Location  (566,)
Missing value in Location  3
Data type of Location :  object
Value count Location :  Moradabad                       12
Dibrugarh                       11
Jodhpur                         10
Bhiwandi                        10
Proddatur                       10
                                ..
Elkhart-Goshen, IN               1
Lawrence, KS                     1
Huntington-Ashland, WV-KY-OH     1
Daphne-Fairhope-Foley, AL        1
York-Hanover, PA                 1
Name: Location, Length: 565, dtype: int64

In [206]:
data[data["Location"].isnull()]

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
1000,Title4B3IC,"Fischer, Walker and Clark Ltd",Hospitals/Clinics,293714.0,1.835712e+06,2020-03-31,Product_2,421.040.4106x16629,50 - 100 Million,Category 1,USA,NaN,James Dean,CEO/Co-Founder/Chairman,jamesdean@fischer.com,Academic librarian,Contact Email,Level 2,5 days back,"Mabrey,Kevin C",We have all the requirements,2.0
1514,Title797F9,"Flores, Riley and Mckinney Ltd",Constr/Agric Machinery,264533.0,1.556917e+06,2019-06-23,Product_1,(664)885-6956,50 - 100 Million,Category 1,India,NaN,Randy Ramos,SVP/General Counsel,randyramos@flores.com,Arts administrator,Website,Level 2,Following up but lead not responding,"Massiah,Gerard F",Cannot deliver,1.0
1690,TitleGG5O3,Mcknight-Allen and Sons,Banks,120602.0,7.236120e+05,2019-09-10,Product_2,943-118-7527x79880,500 Million - 1 Billion,Category 2,USA,NaN,Logan Smith,SVP/General Counsel,logansmith@mcknightallen.com,"Psychotherapist, dance movement",Others,Level 2,?,"Moran,Natalie A",No,4.0

Task 7 manually check the location to fill out missing values. In USA we have place and state but in india we only have place. We can extrat more information out of it. only one is having India and Rest two is having USA

In [207]:
#get the mode value for india
ind=data[data["Geography"]=="India"]
ind.Location.mode()[0]

'Moradabad'

In [208]:
data.loc[1514,"Location"]="Moradabad"

In [102]:
USA=data[data["Geography"]=="USA"]
USA.Location.mode()[0]

'Chattanooga, TN-GA'

In [209]:
data.loc[1000,"Location"]="Chattanooga, TN-GA"

In [210]:
data.loc[1690,"Location"]="Chattanooga, TN-GA"

In [211]:
#POC_name =  Represents the lead's point of contact's name
print(data.POC_name.unique())
print("Unique values in POC_name ", data.POC_name.unique().shape)
print("Missing value in POC_name ", data.POC_name.isnull().sum())
print("Data type of POC_name : ", data.POC_name.dtype)
print("Value count POC_name : ", data.POC_name.value_counts())
data.POC_name.head()

['sonia' 'Daniel Bell' 'Andrew Davis' ... 'William Spears' 'Amy Page'
 'ashma']
Unique values in POC_name  (1746,)
Missing value in POC_name  2
Data type of POC_name :  object
Value count POC_name :  pooja               23
jyoti               14
priyanka            13
poonam              12
mamta               10
                    ..
poonam sharma        1
Leslie Price         1
Cheyenne Potts       1
Ashley Gross         1
safika @ haseena     1
Name: POC_name, Length: 1745, dtype: int64

0                sonia
1          Daniel Bell
2         Andrew Davis
3               shital
4    Shelly Stephenson
Name: POC_name, dtype: object

In [ ]:
#POC_name consist of 2 missing values we will replace it with mode. This can be an important feature for prediction
#Task 8- Fill out missing values in Poc name we will replace it mith mode

In [212]:
#replace  missing value in POC_name
data["POC_name"] = data["POC_name"].fillna((data.POC_name.mode()[0]))

In [213]:
#Designation = Represents the lead POC's designation
#print(data.Designation.unique())
print("Unique values in Designation ", data.Designation.unique().shape)
print("Missing value in Designation ", data.Designation.isnull().sum())
print("Data type of Designation : ", data.Designation.dtype)
print("Value count Designation : ", data.Designation.value_counts())
#data.Designation.head()

Unique values in Designation  (10,)
Missing value in Designation  0
Data type of Designation :  object
Value count Designation :  CEO/Co-Founder/Chairman                                              230
SVP/General Counsel                                                  228
CEO/Chairman/President                                               227
Vice President / GM (04-present) : VP Sales and Marketing (01-04)    220
Chairman/CEO/President                                               213
Chief Executive Officer                                              206
Chairman/Chief Innovation Officer                                    196
CEO                                                                  194
CEO/President                                                        192
Executive Vice President                                             187
Name: Designation, dtype: int64

In [ ]:
Task 9- Encode the designation using label encoding at last.

In [214]:
#Lead_POC_email = Represents the lead POC's email address
#print(data.Lead_POC_email.unique())
print("Unique values in Lead_POC_email ", data.Lead_POC_email.unique().shape)
print("Missing value in Lead_POC_email ", data.Lead_POC_email.isnull().sum())
print("Data type of Lead_POC_email : ", data.Lead_POC_email.dtype)
print("Value count Lead_POC_email : ", data.Lead_POC_email.value_counts())
#data.Lead_POC_email.head()

Unique values in Lead_POC_email  (2093,)
Missing value in Lead_POC_email  0
Data type of Lead_POC_email :  object
Value count Lead_POC_email :  colleensanchez@stephens.com             1
christopherrosario@wellslawrence.com    1
tracykeller@cabrerafernandez.com        1
charlesduarte@danielsmcpherson.com      1
elizabethhampton@miller.com             1
                                       ..
saralewis@potter.com                    1
debrawilson@martinez.com                1
robincohen@browninghamilton.com         1
jerryjordan@cunninghambrown.com         1
johngraham@millermclaughlin.com         1
Name: Lead_POC_email, Length: 2093, dtype: int64

In [ ]:
# we have all unique values and no missing values. remove at last

In [215]:
#Hiring_candidate_role = Represents the job role that a lead wants to hire
#print(data.Hiring_candidate_role.unique())
print("Unique values in Hiring_candidate_role ", data.Hiring_candidate_role.unique().shape)
print("Missing value in Hiring_candidate_role ", data.Hiring_candidate_role.isnull().sum())
print("Data type of Hiring_candidate_role : ", data.Hiring_candidate_role.dtype)
print("Value count Hiring_candidate_role : ", data.Hiring_candidate_role.value_counts())
#data.Hiring_candidate_role.head()

Unique values in Hiring_candidate_role  (618,)
Missing value in Hiring_candidate_role  0
Data type of Hiring_candidate_role :  object
Value count Hiring_candidate_role :  Museum/gallery conservator                  10
Conservation officer, historic buildings    10
Research officer, government                10
Field trials officer                        10
Cartographer                                 9
                                            ..
IT trainer                                   1
Chiropodist                                  1
Ambulance person                             1
Clinical research associate                  1
Geologist, wellsite                          1
Name: Hiring_candidate_role, Length: 618, dtype: int64

Task 10 - We have categorical values, encode using label encoder at last.

In [216]:
#Lead_source = Represents the source from which the lead is generated
#print(data.Lead_source.unique())
print("Unique values in Lead_source ", data.Lead_source.unique().shape)
print("Missing value in Lead_source ", data.Lead_source.isnull().sum())
print("Data type of Lead_source : ", data.Lead_source.dtype)
print("Value count Lead_source : ", data.Lead_source.value_counts())
#data.Lead_source.head()

Unique values in Lead_source  (4,)
Missing value in Lead_source  0
Data type of Lead_source :  object
Value count Lead_source :  Contact Email      540
Others             530
Marketing Event    513
Website            510
Name: Lead_source, dtype: int64

In [ ]:
Task 11- Encode Lead_source using label encoding at last.

In [217]:
#Level_of_meeting = Represents the level of a meeting with the lead.
#                        Level 1: Introductory call
#                        Level 2: Demo call
#                        Level 3: Pre-sales call
#print(data.Level_of_meeting.unique())
print("Unique values in Level_of_meeting ", data.Level_of_meeting.unique().shape)
print("Missing value in Level_of_meeting ", data.Level_of_meeting.isnull().sum())
print("Data type of Level_of_meeting : ", data.Level_of_meeting.dtype)
print("Value count Level_of_meeting : ", data.Level_of_meeting.value_counts())
#data.Level_of_meeting.head()

Unique values in Level_of_meeting  (3,)
Missing value in Level_of_meeting  0
Data type of Level_of_meeting :  object
Value count Level_of_meeting :  Level 1    739
Level 3    697
Level 2    657
Name: Level_of_meeting, dtype: int64

Task 12-  Encode Level_of_meeting . We have use ranking for encoding at last.

In [218]:
#Last_lead_update = Represents the communication update between a lead and your company
#print(data.Last_lead_update.unique())
print("Unique values in Last_lead_update ", data.Last_lead_update.unique().shape)
print("Missing value in Last_lead_update ", data.Last_lead_update.isnull().sum())
print("Data type of Last_lead_update : ", data.Last_lead_update.dtype)
print("Value count Last_lead_update : ", data.Last_lead_update.value_counts())
#data.Last_lead_update.head()

Unique values in Last_lead_update  (12,)
Missing value in Last_lead_update  168
Data type of Last_lead_update :  object
Value count Last_lead_update :  2 days back                             204
?                                       190
5 days back                             186
More than 2 weeks                       186
more than a month                       180
Up-to-date                              176
Did not hear back after Level 1         173
No track                                165
Pending                                 156
Following up but lead not responding    155
More than a week back                   154
Name: Last_lead_update, dtype: int64

Task 13- Last_lead_update is a categorical feature. We need to encode it and fill missing values with most frequent value. and also replace ? with unknown as a new categorical value.

In [219]:
#replace  missing value in Last_lead_update
data["Last_lead_update"] = data["Last_lead_update"].fillna((data.Last_lead_update.mode()[0]))

In [220]:
#Internal_POC = Represents the name of the employee who has generated the lead
#print(data.Internal_POC.unique())
print("Unique values in Internal_POC ", data.Internal_POC.unique().shape)
print("Missing value in Internal_POC ", data.Internal_POC.isnull().sum())
print("Data type of Internal_POC : ", data.Internal_POC.dtype)
print("Value count Internal_POC : ", data.Internal_POC.value_counts())
#data.Internal_POC.head()

Unique values in Internal_POC  (60,)
Missing value in Internal_POC  0
Data type of Internal_POC :  object
Value count Internal_POC :  Georgakopoulos,Vasilios T    48
Abdul-Hamid,Saud Muhamad     44
Murray,Younetta              43
Featherstone,Adrian R        42
Van Arter,Derrick            42
Charles,Caleb                40
Himes,Maurice C              40
Salyers,Daniel L             40
Brown,Maxine A               40
Clavey,Therese A             40
Dunaway,Antoine              39
Young,Valerie K              39
Robinson,John C              39
Dyson,William A              39
Maine,John P                 38
Bannister,Joan               38
Irizarry,Yolanda             38
McKenstry,Loretta A          38
Leu,Darren L                 38
Booker,David L               37
Hanyok,John J                37
Tondeur,Keith D              37
Hameier,Kurt E               37
Ross,Eric L                  36
Hebron,Artenia D             36
Smith,Keenan H               36
Rocks,Michael J              35
Cash,Tyrone J                35
Knox,Antonio D               35
Logan,Kevin N                35
Ryker,David                  35
Jones,Michael L              34
Dimattia,Frank D             34
Ullrich,Rose Anne            34
Morsy,Omar A                 34
Moran,Natalie A              33
Davis,Sharrice A             33
Heidelberg,Andre D           32
Anthony,Katherine D          32
Green,Candy                  32
Massiah,Gerard F             32
Gould,Lisa D                 32
Thomas,Lori E                32
Mabrey,Kevin C               32
Green,Ann E                  32
Carter Sr,Clifton E          32
Houston,Arnold E             32
Gaskins Jr,Franklin D        31
Sutton,Michelle R            31
Cashin,Marc C                31
Kiepea,Prince A              31
Vickers Jr.,Henry J          29
Gilley,Janine                29
Meli,Teresa V                29
Pappas,Mark S                29
Shelton,Sidney P             28
Davis,Brian R                27
Ali,Mohamed                  27
Turner,Marlon D              27
Jones,Eyvette W              26
Name: Internal_POC, dtype: int64

Task 14- Internal_POC is a categorical feature. We need to encode it at last.

In [221]:
#Resource = Represents whether your company has enough resources to satisfy a lead's requirements
#print(data.Resource.unique())
print("Unique values in Resource ", data.Resource.unique().shape)
print("Missing value in Resource ", data.Resource.isnull().sum())
print("Data type of Resource : ", data.Resource.dtype)
print("Value count Resource : ", data.Resource.value_counts())
#data.Resource.head()

Unique values in Resource  (7,)
Missing value in Resource  14
Data type of Resource :  object
Value count Resource :  Cannot deliver                  384
No                              365
Not enough                      346
We have all the requirements    345
Yes                             332
Deliverable                     307
Name: Resource, dtype: int64

In [222]:
#Task 15- Resource We need to encode it using label encoder and fill out missing value with mode (Cannot deliver)
#most occuring value of Resource Category
#replace  missing value in Resource
data["Resource"] = data["Resource"].fillna((data["Resource"].mode()[0]))

In [223]:
#Internal_rating = Represents a rating (1-5) given to a lead
#print(data.Internal_rating.unique())
print("Unique values in Internal_rating ", data.Internal_rating.unique().shape)
print("Missing value in Internal_rating ", data.Internal_rating.isnull().sum())
print("Data type of Internal_rating : ", data.Internal_rating.dtype)
print("Value count Internal_rating : ", data.Internal_rating.value_counts())
#data.Internal_rating.head()

Unique values in Internal_rating  (7,)
Missing value in Internal_rating  0
Data type of Internal_rating :  float64
Value count Internal_rating :   3.00     421
 5.00     417
 2.00     411
 1.00     399
 4.00     391
-1.00      48
 82.34      6
Name: Internal_rating, dtype: int64

In [ ]:
Task 16- We have rating from 1 to 5 and there is no missing value. W have to drop rows with value 82.34

In [224]:
data[data["Internal_rating"]==82.34]

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
433,Title4KKQU,Johnson-Gutierrez and Sons,Peripherals/Comp.,89249.0,580118.50,2019-05-28,Product_1,642.371.3952x574,500 Million - 1 Billion,Category 1,India,Surat,baby bai,SVP/General Counsel,joeharrell@johnsongutierrez.com,Personal assistant,Contact Email,Level 2,More than 2 weeks,"Massiah,Gerard F",Not enough,82.34
1044,Title92JGX,Hurley-Russell Inc,ISPs,250074.0,1788029.10,2020-06-14,Product_2,648.197.4666x470,100 - 500 Million,Category 1,India,Kolkata,praveen,CEO/Chairman/President,gracejennings@hurleyrussell.com,"Engineer, control and instrumentation",Marketing Event,Level 3,2 days back,"Hameier,Kurt E",Yes,82.34
1329,TitleSN96Y,"Sutton, Walls and Williams Ltd",Services,304166.0,2098745.40,2020-10-18,Product_2,001-237-888-3906x081,100 - 500 Million,Category 1,India,Rajahmundry,pushpa,CEO/President,jeffreywilson@sutton.com,Stage manager,Website,Level 3,Following up but lead not responding,"Abdul-Hamid,Saud Muhamad",Cannot deliver,82.34
1399,TitleVEJGJ,"Oconnor, Graham and Sanders Group",Publishing,160504.0,1099452.40,2020-01-08,Product_2,3931431891,500 Million - 1 Billion,Category 4,India,Bamanpuri,aakanksha d/o,Executive Vice President,walterrivera@oconnor.com,Clinical biochemist,Website,Level 2,more than a month,"Ali,Mohamed",Deliverable,82.34
1475,TitleH5282,Ware-Williams LLC,Banks,347583.0,2224531.20,2021-01-12,Product_1,027-607-4686x230,50 - 100 Million,Category 4,India,Bhavnagar,santosh,Vice President / GM (04-present) : VP Sales an...,carriephelps@warewilliams.com,Secretary/administrator,Others,Level 3,More than a week back,"Sutton,Michelle R",Cannot deliver,82.34
1931,TitleU5YAN,Evans-Burton and Sons,Wood/Timber,364375.0,2277343.75,2019-07-20,Product_1,(857)928-7428x39346,100 - 500 Million,Category 2,India,Brahmapur,pinki,CEO/Co-Founder/Chairman,markpalmer@evansburton.com,Insurance claims handler,Others,Level 3,Pending,"Booker,David L",Yes,82.34

In [134]:
#data.drop(data.loc[data['Internal_rating'] == 82.34].index, inplace=True)

Now there is no missing values so we will start withencoding.

In [225]:
data.to_csv("test_processedV1.csv", index=False)

# Start encoding categorical value

In [226]:
from sklearn.preprocessing import LabelEncoder
lab_encod= LabelEncoder()

In [227]:
#lets start with encoding.
data.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
0,TitleAD16O,Bonilla Ltd Inc,Investment Bank/Brokerage,200988.0,1.556917e+06,2020-04-15,Product_1,167.332.2751x989,100 - 500 Million,Category 4,India,Bhubaneshwar,sonia,Chairman/CEO/President,maureenthomas@bonilla.com,"Designer, fashion/clothing",Marketing Event,Level 1,more than a month,"Massiah,Gerard F",No,-1.0
1,TitleOW6CR,"Williams, Rogers and Roach PLC",Electronics,409961.0,2.541758e+06,2021-01-23,Product_1,001-486-903-0711x7831,100 - 500 Million,Category 3,USA,"Coeur d'Alene, ID",Daniel Bell,CEO/Co-Founder/Chairman,danielbell@williams.com,Horticultural consultant,Marketing Event,Level 2,Up-to-date,"Smith,Keenan H",Yes,1.0
2,TitleVVJQ5,"Wood, Vaughn and Morales Ltd",Banks,434433.0,3.041031e+06,2020-07-19,Product_1,(393)104-2610x9723,100 - 500 Million,Category 1,USA,"Portland-South Portland, ME",Andrew Davis,Chairman/Chief Innovation Officer,andrewdavis@wood.com,Information officer,Marketing Event,Level 2,Did not hear back after Level 1,"Gilley,Janine",Deliverable,5.0
3,TitleUS8NA,Durham-Crawford Inc,Music,218952.0,1.521716e+06,2020-02-27,Product_2,(817)040-4599,100 - 500 Million,Category 1,India,Bareilly,shital,CEO/Chairman/President,charlesrivera@durhamcrawford.com,Commercial/residential surveyor,Contact Email,Level 3,more than a month,"Morsy,Omar A",No,5.0
4,Title5VGWW,"Simpson, Duncan and Long LLC",Real Estate,392835.0,2.455219e+06,2020-10-25,Product_1,718-032-5726x76098,500 Million - 1 Billion,Category 3,USA,"Trenton, NJ",Shelly Stephenson,CEO/Co-Founder/Chairman,shellystephenson@simpson.com,Wellsite geologist,Others,Level 3,More than 2 weeks,"Morsy,Omar A",Deliverable,2.0

In [228]:
#Starting from first to all variables
data["Lead_name"]= lab_encod.fit_transform(data["Lead_name"])

In [229]:
#Count of unique values in Industry column
data["Industry"].unique().shape

(138,)

In [230]:
#lets label encode them
data["Industry"]= lab_encod.fit_transform(data["Industry"])

In [231]:
##Count of unique values in Pitch column
data["Pitch"].unique()

array(['Product_1', 'Product_2'], dtype=object)

In [232]:
data["Pitch"]= lab_encod.fit_transform(data["Pitch"])

In [233]:
data.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating
0,TitleAD16O,143,55,200988.0,1.556917e+06,2020-04-15,0,167.332.2751x989,100 - 500 Million,Category 4,India,Bhubaneshwar,sonia,Chairman/CEO/President,maureenthomas@bonilla.com,"Designer, fashion/clothing",Marketing Event,Level 1,more than a month,"Massiah,Gerard F",No,-1.0
1,TitleOW6CR,2012,30,409961.0,2.541758e+06,2021-01-23,0,001-486-903-0711x7831,100 - 500 Million,Category 3,USA,"Coeur d'Alene, ID",Daniel Bell,CEO/Co-Founder/Chairman,danielbell@williams.com,Horticultural consultant,Marketing Event,Level 2,Up-to-date,"Smith,Keenan H",Yes,1.0
2,TitleVVJQ5,2056,13,434433.0,3.041031e+06,2020-07-19,0,(393)104-2610x9723,100 - 500 Million,Category 1,USA,"Portland-South Portland, ME",Andrew Davis,Chairman/Chief Innovation Officer,andrewdavis@wood.com,Information officer,Marketing Event,Level 2,Did not hear back after Level 1,"Gilley,Janine",Deliverable,5.0
3,TitleUS8NA,458,69,218952.0,1.521716e+06,2020-02-27,1,(817)040-4599,100 - 500 Million,Category 1,India,Bareilly,shital,CEO/Chairman/President,charlesrivera@durhamcrawford.com,Commercial/residential surveyor,Contact Email,Level 3,more than a month,"Morsy,Omar A",No,5.0
4,Title5VGWW,1716,95,392835.0,2.455219e+06,2020-10-25,0,718-032-5726x76098,500 Million - 1 Billion,Category 3,USA,"Trenton, NJ",Shelly Stephenson,CEO/Co-Founder/Chairman,shellystephenson@simpson.com,Wellsite geologist,Others,Level 3,More than 2 weeks,"Morsy,Omar A",Deliverable,2.0

In [234]:
#we will drop contact number later.
data["Lead_revenue"].unique()

array(['100 - 500 Million', '500 Million - 1 Billion', '50 - 100 Million'],
      dtype=object)

In [235]:
#dummy encode lead revenue
data= pd.get_dummies(data,columns=["Lead_revenue"], drop_first=True)

In [236]:
# fund category
data.Fund_category.unique()

array(['Category 4', 'Category 3', 'Category 1', 'Category 2'],
      dtype=object)

In [237]:
data["Fund_category"]= lab_encod.fit_transform(data["Fund_category"])

In [238]:
#label encode Geography
data["Geography"]= lab_encod.fit_transform(data["Geography"])

In [239]:
#label encode Location
data.Location.unique().shape

(565,)

In [240]:
#label encode Location
data["Location"]= lab_encod.fit_transform(data["Location"])

In [241]:
data.POC_name.unique().shape
#i dont thik POC name is of much use. so we will drop it

(1745,)

In [242]:
# Hiring_candidate_role as it can be a good feature
#label encode Hiring_candidate_role
data["Hiring_candidate_role"]= lab_encod.fit_transform(data["Hiring_candidate_role"])

In [156]:
#how much unique values Lead_source have 
data.Lead_source.unique()

array(['Marketing Event', 'Contact Email', 'Others', 'Website'],
      dtype=object)

In [243]:
#label encode Lead_source
data["Lead_source"]= lab_encod.fit_transform(data["Lead_source"])

In [244]:
data.Level_of_meeting.unique()

array(['Level 1', 'Level 2', 'Level 3'], dtype=object)

In [245]:
#level of meating is an important topic to be considered. thus we will encode tem using get dummies to create feature.
data= pd.get_dummies(data,columns=["Level_of_meeting"], drop_first=True)

In [246]:
data.Last_lead_update.unique()

array(['more than a month', 'Up-to-date',
       'Did not hear back after Level 1', 'More than 2 weeks', 'Pending',
       'Following up but lead not responding', '5 days back', 'No track',
       '?', '2 days back', 'More than a week back'], dtype=object)

In [247]:
#label encode Designation
data["Designation"]= lab_encod.fit_transform(data["Designation"])

In [248]:
#label encode Last_lead_update
data["Last_lead_update"]= lab_encod.fit_transform(data["Last_lead_update"])

In [249]:
#label encode Last_lead_update
data["Internal_POC"]= lab_encod.fit_transform(data["Internal_POC"])

In [250]:
#label encode Last_lead_update
data["Resource"]= lab_encod.fit_transform(data["Resource"])

In [251]:
#lets also encode POC_name 
data["POC_name"]= lab_encod.fit_transform(data["POC_name"])

In [252]:
data["Date_of_creation"]= lab_encod.fit_transform(data["Date_of_creation"])

In [253]:
data.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Fund_category,Geography,Location,POC_name,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Last_lead_update,Internal_POC,Resource,Internal_rating,Lead_revenue_50 - 100 Million,Lead_revenue_500 Million - 1 Billion,Level_of_meeting_Level 2,Level_of_meeting_Level 3
0,TitleAD16O,143,55,200988.0,1.556917e+06,427,0,167.332.2751x989,3,0,68,1666,4,maureenthomas@bonilla.com,151,1,10,38,2,-1.0,0,0,0,0
1,TitleOW6CR,2012,30,409961.0,2.541758e+06,698,0,001-486-903-0711x7831,2,1,122,220,2,danielbell@williams.com,286,1,9,51,5,1.0,0,0,1,0
2,TitleVVJQ5,2056,13,434433.0,3.041031e+06,519,0,(393)104-2610x9723,0,1,409,44,5,andrewdavis@wood.com,307,1,3,19,1,5.0,0,0,1,0
3,TitleUS8NA,458,69,218952.0,1.521716e+06,385,1,(817)040-4599,0,0,48,1583,1,charlesrivera@durhamcrawford.com,115,0,10,42,2,5.0,0,0,0,1
4,Title5VGWW,1716,95,392835.0,2.455219e+06,610,0,718-032-5726x76098,2,1,522,901,2,shellystephenson@simpson.com,615,2,5,42,1,2.0,0,1,0,1

In [ ]:
test =

In [254]:
fdata=data.reindex(['Deal_title','Industry', 'Deal_value', 'Weighted_amount','Date_of_creation',
       'Pitch', 'Fund_category', 'Geography', 'Location', 'POC_name',
       'Designation', 'Hiring_candidate_role', 'Lead_source',
       'Last_lead_update', 'Internal_POC', 'Resource', 'Internal_rating','Lead_revenue_50 - 100 Million',
       'Lead_revenue_500 Million - 1 Billion', 'Level_of_meeting_Level 2',
       'Level_of_meeting_Level 3'], axis=1)

In [255]:
fdata.head()

,Deal_title,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Fund_category,Geography,Location,POC_name,Designation,Hiring_candidate_role,Lead_source,Last_lead_update,Internal_POC,Resource,Internal_rating,Lead_revenue_50 - 100 Million,Lead_revenue_500 Million - 1 Billion,Level_of_meeting_Level 2,Level_of_meeting_Level 3
0,TitleAD16O,55,200988.0,1.556917e+06,427,0,3,0,68,1666,4,151,1,10,38,2,-1.0,0,0,0,0
1,TitleOW6CR,30,409961.0,2.541758e+06,698,0,2,1,122,220,2,286,1,9,51,5,1.0,0,0,1,0
2,TitleVVJQ5,13,434433.0,3.041031e+06,519,0,0,1,409,44,5,307,1,3,19,1,5.0,0,0,1,0
3,TitleUS8NA,69,218952.0,1.521716e+06,385,1,0,0,48,1583,1,115,0,10,42,2,5.0,0,0,0,1
4,Title5VGWW,95,392835.0,2.455219e+06,610,0,2,1,522,901,2,615,2,5,42,1,2.0,0,1,0,1

In [256]:
fdata.set_index("Deal_title", inplace=True)
fdata.head()

,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Fund_category,Geography,Location,POC_name,Designation,Hiring_candidate_role,Lead_source,Last_lead_update,Internal_POC,Resource,Internal_rating,Lead_revenue_50 - 100 Million,Lead_revenue_500 Million - 1 Billion,Level_of_meeting_Level 2,Level_of_meeting_Level 3
Deal_title,,,,,,,,,,,,,,,,,,,,
TitleAD16O,55,200988.0,1.556917e+06,427,0,3,0,68,1666,4,151,1,10,38,2,-1.0,0,0,0,0
TitleOW6CR,30,409961.0,2.541758e+06,698,0,2,1,122,220,2,286,1,9,51,5,1.0,0,0,1,0
TitleVVJQ5,13,434433.0,3.041031e+06,519,0,0,1,409,44,5,307,1,3,19,1,5.0,0,0,1,0
TitleUS8NA,69,218952.0,1.521716e+06,385,1,0,0,48,1583,1,115,0,10,42,2,5.0,0,0,0,1
Title5VGWW,95,392835.0,2.455219e+06,610,0,2,1,522,901,2,615,2,5,42,1,2.0,0,1,0,1

In [257]:
fdata.to_csv("final_test1.csv", index=True)